.rows{
    min-width: 150px !important;
    text-align: center !important;
  }


  .toggle-password-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 5px ;
  }

  .form .input-box {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    
    margin-top: 20px;
  }
  
  .input-box input{
      padding: 25px;
  }
  
  .input-box label {
    color: #333;
    font-size: 16px;
  }
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .form .column {
    display: flex;
    column-gap: 15px;
  }
  .form button {
  height: 50px;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  
  border-radius: 10px;
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

  @media only screen and (max-width: 768px) {
    
        .rows{
          min-width: 100px !important;
        }
        .toggle-password-button{
            padding: 0 2px ;
        }
}